@import "./game.css";

/* DEFAULT, GENERAL */
@font-face {
    font-family: "Pixelade";
    src: url("./../font/PIXELADE.TTF");
}

@font-face {
    font-family: "Pixelmix";
    src: url("./../font/pixelmix.ttf");
}

/* NAME, HP */
/* @font-face {
    font-family: "Fipps";
    src: url("./../font/Fipps-Regular.otf");
} */

/* @font-face {
    font-family: "FatalFury";
    src: url("./../font/m04.TTF");
} */

/* ACTIONS */
@font-face {
    font-family: "PixelOperatorBold";
    src: url("./../font/PixelOperator-Bold.ttf");
}


html, body {
    margin: 0;
    padding: 0;
}

#interact-screen, #main-screen {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    padding: 5vh;

    background-color: black;
    /* display: none; */

    color: white;
    text-align: center;
}

#interact-screen {
    z-index: 15;
}

#interact-screen > h1 {
    margin-top: 22.5vh;

    color: white;
    font-family: "PixelOperatorBold";
    font-size: 15vh;
    text-align: center;
}

#myVideo {
    position: fixed;
    left: 0;
    top:0;	
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#content {
    width: 100%;
    height: 55%;
    
    position: fixed;

    left: 0;
    top: 17.5vh;
}

#content .start-button {
    margin: 10vh auto 0 auto;

    display: block;
}

#content .image {
    max-width: 80vw;
    height: 25vh;
}

.start-button {
    font-family: "PixelOperatorBold";
    font-size: 5vh;
    padding: 15px;
    cursor: pointer;
    color: black;
    background: #ffcb05;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    border: none;
}

.start-button:hover {
    color: black;
    font-weight: 700;
    background: #fe612c;
    -webkit-box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.57);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    border: none;
}

#game-screen {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    position: absolute;
    z-index: 2;
}

#game-screen-background {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;

    background-position: center;
    background-size: cover;

    filter: blur(20px);
    transform: scale(1.1);
}

#game-screen-background-overlay {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: rgba(0, 0, 0, 1.0);
}

audio {
    display: none;
}